<p><b>app:</b> Short for application, a program that runs inside a service. App is acceptable on second reference.</p>
<p><b>click-through:</b> A way of measuring how many people click a link online to see its destination site.</p>
<p><b>e-book:</b> Unlike email, there’s a hyphen. An e-book is the electronic, non-paper version of a book or publication, sold digitally and commonly used on an e-book reader or an e-reader.</p>
<p><b>End user:</b> end-user – End user as a noun, The end user is the consumer; and end-user as an adjective, The end-user experience was good.</p>
<p><b>IM:</b> Abbreviation for instant message and acceptable on second reference for instant messaging.</p>
<p><b>iPad:</b> A touch-screen computer that can be connected to the Internet via Wi-Fi or cellular data networks. Use IPad when the word starts a sentence or headline.</p>
<p><b>retweet:</b> Forwarding a message or link from someone else to your followers on Twitter. Spelled out in all references, but commonly seen on Twitter as RT.</p>
<p><b>smartphone:</b> One word for an advanced mobile device that can be used to check email, browse the web and download applications.</p>

<p><b>text messaging:Some of the more popular abbreviations:</b></p>
<p><b>BFF:</b> Best friend forever (often used sarcastically)</p>
<p><b>G2G:</b> Got to go.</p>
<p><b>IDK:</b> I don’t know.</p>
<p><b>IMO/IMHO:</b> in my opinion, in my humble opinion.</p>
<p><b>LOL:</b> Laugh out loud; ROFL – Roll on the floor laughing (one step beyond LOL).</p>
<p><b>NSFW:</b> Not safe for work</p>
<p><b>POS:</b> Parents over shoulder</p>
<p><b>thx:</b> Thanks</p>
<p><b>unfollow:</b> to remove an account from the lists of accounts that populate a feed, usually on Twitter.</p>
<p><b>unfriend:</b> to remove someone from a list of friends, usually on Facebook. Defriend is acceptable, but less common to use.</p>
<p><b>website:</b> One word, as for webcam, webcast and webmaster. In short form and in terms with separate words, the web, web page and web feed.</p>
