All headlines use initial caps; verbs should always be upper case, despite length (e.g. Is); prepositions of four letters or more should be upper case (e.g. With)
Pull quotes are used for emphasis and signification. They can either be a quote, statement, or a sentence that is interesting and could benefit from being highlighted.
When referencing movies, music, titles, etc., follow headline capitalization rules, unless the title’s been changed by the company itself. Example: Incorrect: The 40-Year-Old Virgin Correct: The 40 Year-Old Virgin
Whenever creating lists follow alphanumeric order. Incorrect: Tarzana, Germany, and the United States all signed the treaty. Correct: Germany, Tarzana, and the United States all signed the treaty.
