<ul>
    <li>Spell out zero through nine. Use figures for 10 and above, except: spell out one- and two-digit numbers in quotes and all numbers beginning a sentence.
<li>Millions, etc., take the numeral plus the word ($3 billion).
<li>Percentages take the figure plus the symbol (96%), except in dialog and at the beginning of a sentence, where percent should be spelled out.
<li>Date styles are as follows: <br />
    January 27; January 27, 1995; January 1995<br />
    1990s; mid-1990s; from 1970 to 1985
<li>Spell out fractions: three-quarters full; two thirds of the sales force. Noun form open; adjective form hyphenated.
<li>Don’t use superscript. It’s “21st Street” not “21st Street”
<li>When saying “from X percent to X percent” only omit the first “percent” when it’s completely clear that the first number is a percent and not a number of people or items.
    Wrong: Of the 50 salespeople, 10 to 20% will receive a laptop.
    Right: Of the 50 salespeople, 10% to 20% will receive a laptop.
    Also: Smith expects to sell 20 to 25% over quota this quarter.
