<b>In general, do not use state designations with these U.S. cities:</b><br />
Anchorage<br />
Atlanta<br />
Baltimore<br />
Boise<br />
Boston<br />
Chicago<br />
Cincinnati<br />
Cleveland<br />
Denver<br />
Detroit<br />
Honolulu<br />
Houston<br />
Indianapolis<br />
Los Angeles<br />
Miami<br />
Minneapolis<br />
New Orleans<br />
New York<br />
Oklahoma City<br />
Philadelphia<br />
Pittsburgh<br />
Portland (Oregon)<br />
St. Louis<br />
Salt Lake City<br />
San Diego<br />
San Francisco<br />
<br />
<b>These foreign locations stand alone:</b><br />
Beijing<br />
Berlin<br />
Guatemala City<br />
Hong Kong<br />
Jerusalem<br />
Kuwait<br />
London<br />
Luxembourg<br />
Mexico City<br />
Monaco<br />
Montreal<br />
Moscow<br />
Ottawa<br />
Paris<br />
Québec<br />
Rome<br />
Singapore<br />
Tokyo<br />
Toronto<br />
Vatican City<br />
