<p><b>Apostrophes:</b> Possessives of proper names ending in "s" are formed by adding an apostrophe where appropriate: Mad Dogs’ work.</p>


<p><b>Brackets:</b>  Brackets should be used to enclose editorial corrections, explanations, translations, comments or interpolations in quoted material.</p>


<p><b>Commas:</b>  Can be omitted after short introductory prepositional phrases, but should be used for longer ones. "After a few years" could go without a comma, but "Before he could implement the system" would take one.</p>


<p><b>Ellipsis:</b>  Treat an ellipsis as a three letter word—with three dots and spaces on each side. Use a period after an ellipsis at the end of a complete sentence. These are used to show omission.</p>

<p><b>Em dash:</b>  There shouldn’t be spaces on either side of an em dash. These are the longer of the two dashes.</p>


<p><b>En dash:</b>  Use for compound adjectives: New York–style pizza. These are the shorter of the two dashes.
Also to indicate continuing or inclusive numbers, dates, times, etc. in charts and lists only: 1978–81, 10 a.m.–6 p.m. In text use: from 1978 to 1981. There should not be spaces on either side of the en dash.

<p><b>Hyphens:</b>   Do not use hyphens if the first word of a compound is an adverb that ends with "ly" (the lightly scented flower) or when common compound nouns are used as adjectives (real estate salesperson). Some specific terms and phrases common to our industry (e.g., customer service when used as an adjective) should not be hyphenated.</p>


<p><b>Quotation marks:</b>  Except when actually quoting someone, use these sparingly. Don’t use them around proprietary terms. In this case, initial caps will suffice.</p>


<p><b>Parentheses:</b>  In general, opt for using commas or em dashes to set off amplifying, explanatory, or digressive elements. If you’ve already used dashes or commas within a sentence, then you should use parentheses to avoid confusion.</p>


<p><b>Bulleted list:</b>  Use no punctuation when the list is composed of incomplete sentences; use periods when each list item is a complete sentence.</p>
