<ul>
    <li>Write headlines and deks that either address the benefit readers will gain from the article, or would make you want to read it.</li>
    <li>Write headlines that are as punchy as TIME or ADWEEK cover lines, whenever possible (admittedly, sometimes straightforward is best). Numbers are always good. Odd numbers even moreso.</li>
    <li>Think about SEO when writing headlines, deks, and leads, but aim to balance that with not being overly repetitive.</li>
    <li>Keep lead sentences brief. Overly long first sentences are rarely engaging.</li>
    <li>Be creative and use flair in leads—and get to the point quickly. If readers don’t find out what they’re going to learn in the first few sentences, they won’t read the rest of the article.</li>
    <li>Avoid generic leads. “Advertisers need to be innovative,” for example, has now been used to the point where it could open any one of a slew of articles. Focus the lead on your specific topic. “Innovative work that’s informed by data and backed augmented reality are sure to make an impact on customers.”</li>
    <li>Watch for run-on sentences. Even some sentences that aren’t technically run-ons will read more clearly when split into two.</li>
    <li>Watch for what you’re referencing. For example, “the designer’s customer-centric approach to addressing their needs” is incorrect because “their” doesn’t refer to anything. It should be “the designer’s customer-centric approach to addressing its customers’ needs”</li>
    <li>Choose descriptive words. For example, we don’t do research, we conduct research.</li>
    <li>Avoid using “very” to amplify an adjective when one stronger word will suffice. For example, instead of “very important” use essential or vital or crucial.</li>
    <li>Ensure that the words you choose are correct for the context. Yes, variety is good, but don’t just select a synonym without checking the definition to determine whether it actually fits. Also, sometimes the word you’re looking to change is the right word to use.</li>
    <li>Use conversational words: use, not utilize (unless utilize is appropriate); among, not amongst; act on, not act upon; while, not whilst; in addition, not additionally.</li>
    <li>Use contractions in most cases, unless the reason you’re spelling out both words is to emphasize a point (or if it was actually said that way in a quote).</li>
    <li>Avoid using said unless it’s with a quote: “People like Converse,” Smith said. Otherwise, use notes, states, and the like: People like Converse, Smith notes.</li>
    <li>Use the plural form of first-person view, such as we; do not use “I”, unless you are publishing a thought leadership piece.</li>
    <li>Keep your copy positive, useful, and actionable.</li>
</ul>
