Every article should have a headline and a dek.
<ul>
    <li>All headlines should be 50 characters—or less.</li>
    <li>Headlines are initial caps; subheads are sentence case (if applicable)</li>
    <li>When writing subheads, use proper punctuation for complete sentences. Phrases have no punctuation.</li>
    <li>Write all attributions in the past tense: he said. Pronoun comes before the verb: Jones said. NOT, said Jones. Except: said Jones, who oversaw the initiative. Or: said Mark Smith, president of XYZ Company.</li>
    <li>If the dictionary gives two spellings, always use the first mentioned, except: dialog.</li>
    <li>Use the serial comma.</li>
    <li>Use postal abbreviations for states. Don’t use the state at all with large cities like Chicago and San Francisco (see below for list of U.S. and foreign cities that we do not use state designations).</li>
    <li>Use New York, not New York City.</li>
    <li>Use Washington, DC.</li>
    <li>Spell out months.</li>
    <li>Spell out all titles, except SVP/VP (etc.), CEO, and CFO. Numerous titles, like CSO, have more than one meaning.</li>
    <li>Do not use “&” except in titles and certain abbreviations, such as Q&A and M&A</li>
    <li>Don't use a comma to set off Jr., Sr., Inc., or Ltd.</li>
    <li>Avoid passive statements. Use: The makeup artist interviewed customers. Not: The customers were interviewed by the makeup artist.</li>
    <li>Look for opportunities to link back to other content on the Download. When referring to previously posted content, make sure to hyperlink.</li>
    <li>Only one attribution per quotation.</li>
    <li>Alternative between site and website, for variety and, when necessary, and for clarity.</li>
    <li>Don’t use numerals when a hed or dek starts with a number. Numerals can be used if they don’t start the hed or dek. Example: Six Colors That Every Lipstick Lover Needs—Now or The 6 Colors That Every Lipstick Lover Needs—Now</li>
    <li>Numerals should always be used for any form of social media.</li>
</ul>
