<b>Creative:</b><br /> Havas
<br /> BETC
<br /> Arnold
<br />
<br />
<b>Media:</b>
<br /> Havas Media
<br /> FullSix
<br /> Arena
<br />
<br />
<b>Havas Health & You:</b>
<br /> Havas Life
<br /> Health4Brands (H4B)
<br /> Havas Lynx
<br /> Havas Life PR
<br />
<br />
<b>Specialized agencies:</b><br /> Havas Edge<br /> Havas helia<br /> Ekino
<br /> Havas Cognitive<br /> Havas Events<br /> Hercules (global production arm)<br /> Plastic Mobile<br /> Mobext
<br /> Havas Sports & Entertainment (HSE is a brand experience agency, formally Cake)<br /> Conran (design)<br /> W (design)<br />
<br />
<b>Public relations:</b><br /> Havas PR<br /> Formula
<br /> Abernathy McGregor<br /> Red Agency<br />
<br />
<b>Independent agencies:</b><br /> Annex
<br /> Boondoggle
<br /> Camp+King
<br /> Les Gaulois<br /> One Green Bean<br /> Rosapark
