
<p>The global communications team should be writing in
    <a href="https://www.apstylebook.com/">AP style</a> Consequently, <b>The Download</b>b> follows <a href="http://www.merriam-webster.com">Merriam Webster's Collegiate Dictionary</a>, also found at merriam-webster.com. Remember: Style is subjective and there are many exceptions. When in doubt use the dictionary.</p>

<p>Download aims to speak in a manner that’s engaging and inspiring—prompting readers to find new ways of incorporating innovation into their everyday work and lives. The voice is clever and appeals to the readers’ smart and humorous traits and passion to learn. This voice should be reflected in all mediums, including: on-site editorial, social media, activations and campaigns, and newsletters.</p>

<p>Remember: Create a unique and innovative platform that celebrates the originality, creativity, and innovativeness for employees, potential and current clients, industry insiders, and prospective talent. Our emphasis is on amplifying thought leadership, culture, and initiatives throughout the Havas network. We are also focused on sparking and leading the industry conversation—and at times changing it—with stellar content.</p>
