<span STYLE="font-family: 'Montserrat'; font-weight: 600; color: rgb(0%, 0%, 0%); font-size: 16px">
    When pitching or creating remember to view content for the site and our readers through a lens of applicable value. Buck geocentric stereotypes and provide stories about topics that are interesting, relatable, and informative.</span>

<p>Download specific style guidelines:</p>
<ul>
    <li>Try to embed at least one deep link in each article with anchor text that links to a specific article on the Download. The anchor text should be short (i.e. four words) and descriptive.</li>
    <li>For SEO optimization, use ampersands in all headlines, rather than the word and.</li>
    <li>All links must open a new window.</li>
    <li>Do not discuss client work that has not been released without written permission of the client.</li>
    <li>Use American English spelling, not British.</li>
</ul>
